<div class="container mt-5">
    <h1>
        Whats in the pack:
    </h1>
    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Coffee Bean</h5>
            <div class="col-md-6"><img src="assets/img/ingr/coffeebean.jpg" alt="coffeebean"></div>
            <div class="col-md-6 textp">
                <p>Caffeine reduces the appearance of cellulite, actively treats eczema, psoriasis, stretch marks and acne. For all skin types, also for dry, flaky sensitive and mature skin types. Offers protection against skin damage.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Jojoba Oil</h5>
            <div class="col-md-6"><img src="assets/img/ingr/jojoba.jpg" alt="jojoba"></div>
            <div class="col-md-6 textp">
                <p>Improves the appearance of wrinkles, redness and texture. Encourages regeneration of skin cells, firms and tones. Fights wrinkles, stretch marks and cellulite. Reduces oily skin. Regulates sebum production.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Sweet Almond Oil</h5>
            <div class="col-md-6"><img src="assets/img/ingr/almonds..jpg" alt="almonds"></div>
            <div class="col-md-6 textp">
                <p>Minimizes the formation of stretch marks by keeping the supple and flexible. Delays skin and cell aging (anti-aging). Reduces itchiness and inflammation. Perfect for dehydrated skin that gas difficulty retaining moisture.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Cold Pressed Coconut Oil</h5>
            <div class="col-md-6"><img src="assets/img/ingr/coconut.png" hight="250" width="300" alt="Coconut"></div>
            <div class="col-md-6 textp">
                <p>Effective on problematic skin conditions like eczema and psoriasis. Soothes irritated skin and increases the natural production of collagen. Provides effective protection against sun and provides deep and real moisture</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5" style="background-color: #f4f4f4">
            <h5 class="pt-5 pl-5">Orange Oil</h5>
            <div class="col-md-6"><img src="assets/img/ingr/orange.jpg" hight="250" width="300" alt="orange"></div>
            <div class="col-md-6 pb-5 textp">
                <p>Removes impurities and dead skin cells. Directly targets stretch marks, cellulite, acne, psoriasis and eczema. Helps stimulate cell repair for firmer and smoother skin. Perfect moisturizer especially for dry skin. Loaded with vitamins
                    and strong antioxidants. Regenerative power ensures that your skin remains soft and smooth while keeping it toned and firm. Helps the skin to regenerate as well as increase the elasticity of the skin. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Brown Sugar</h5>
            <div class="col-md-6"><img src="assets/img/ingr/brownsugar.jpg" hight="250" width="300" alt="brownsugar"></div>
            <div class="col-md-6 pb-5 textp">
                <p>Hydrating and conditioning is a natural humectant. Guards your skin from destructive toxins and keeps it healthy. Contains glycolic acid that fights bacteria keeping your skin vivacious and healthy. Gives you younger and fresher looking
                    skin by breaking down glue-bonded skin cells which supports cell turnover. It also helps to improve sun damage and offers support to aging skin</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5">
            <h5 class="pt-5 pl-5">Himalayan Pink Salt</h5>
            <div class="col-md-6"><img src="assets/img/ingr/salt.jpg" alt="pink_rock_salt"></div>
            <div class="col-md-6"></div>
        </div>
    </div>

    <div class="row">
        <div class="card mt-5" style="background-color: #f4f4f4">
            <h5 class="pt-5 pl-5">Organic Cacao</h5>
            <div class="col-md-6"><img src="assets/img/ingr/cacao_.jpg" alt="cacao"></div>
            <div class="col-md-6"></div>
        </div>
    </div>

</div>