<!--Footer-->
<footer class="container-fluid page-footer black pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">GET NAKED AND DIRTY WITH ME</h5>
                <p>Cover yourself with me and let me go to work on you.<br> And don't rush me.</p>

            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Pure Body Coffee Scrub</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home">HOME</a></li>
                    <li><a routerLink="/shop">SHOP</a></li>
                    <li><a routerLink="/about">ABOUT</a></li>
                    <li><a routerLink="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2017 Copyright: PureBodyCoffeeScrub
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->