a.nav-link {
  font-weight: 500;
  color: #232323 !important;
  margin-left: 50px;
}

.dropdown-menu {
  padding: 0 15px !important;
  width: fit-content;
  margin-top: 10px;
}
.dropdown-menu {
  padding: 0 15px !important;
  width: fit-content;
}
