<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#"><img src="assets/img/logo.jpg" alt="logo"><strong></strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="/shop">Shop</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
            </ul>

            <a class="fa fa-shopping-cart snipcart-checkout pr-3" style="font-size: 22px;"></a>
            <div class="btn-group" mdbDropdown>
                <a href="#" class="dropdown-toggle snipcart-summary" mdbDropdownToggle style="color:#232323;">View cart
                </a>
                <div class="dropdown-menu dropdown-primary snipcart-summary">
                    Total items:<a class="dropdown-item snipcart-checkout snipcart-total-items" data-item-name="Bacon" href="#"></a>
                    Total price:
                    <a class="dropdown-item snipcart-checkout snipcart-total-price" href="#"></a>

                </div>
            </div>
        </links>
    </mdb-navbar>
    <!-- Main -->