  <!-- HERO -->
  <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>Want to Tantalize your senses?</h2>
                        <h5>With the delecious aroma of coffee, cacao, sweet almonds, coconut, jojoba and orange. </h5>
                        <br>
                        <p>A coffe based skin care that targets cellulite, stretch marks, and other skin conditions...</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- /HERO -->
 
   



