<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="product-image">
                <div *ngIf="!paidFor">
                    <img [src]="scrub.img" width="300" alt="body scrub">

                    <div class="" style="margin-top:15px">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">

                                <div>
                                    <h6 class="my-0">Product Price</h6>
                                </div>

                                <span class="text-muted" style="color:red!important">${{ scrub.price }}</span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div id="free-ship" style="margin: 0 auto">
                                    <img src="assets/img/smFREE.png" height="70" alt="free shipping" class="img-fluid">
                                </div>
                                <span class="text-muted" style="color:crimson !important"></span>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>


            <div *ngIf=paidFor>
                <h1>Thank you for your purchase, your scrub will be sent off today!</h1>
            </div>

            <div [hidden]="paidFor" #paypal></div>


        </div>



        <div class="col-sm-8">
            <div class="product-detail">
                <h5 class="product-head">Product Details</h5>
                <table class="table" cellspacing="0" style="max-height: 28px">
                    <tbody>
                        <tr>
                            <th scope="row">Product Name</th>
                            <td><strong>Pure Body Coffee Scrub</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">Product Description</th>
                            <td><strong>Tantalize your senses with:</strong>

                                <p>Pure Body Coffee Scrub a 100% natural blend that actively targets dry skin,
                                    cellulite,
                                    stretch marks, psoriasis, acne and eczema. Our pure combination of roasted ground
                                    coffee
                                    beans, sugars & salts assist in exfoliating and regenerating healthy new skin cells.
                                    The essential rejuvenation oils are highly moisturising giving you smooth supple
                                    skin.</p>

                                <p>Body Scrub is highly hydrating and great for assisting with skin conditions such</p>
                                <ul>
                                    <li>Dry Skin</li>
                                    <li>Cellulite</li>
                                    <li>Stretch marks</li>
                                    <li>Scarring</li>
                                    <li>Acne</li>
                                    <li>Psoriasis</li>
                                    <li>Eczema</li>
                                    <li>Shrinking wrinkles</li>
                                    <li>Protect against sun damage</li>
                                </ul>
                                <strong>No added preservatives or artificial ingredients.</strong>

                                <p>combined with amazing natural ingredients and scents of coconut, orange, and cacao to
                                    leave your skin feeling incredibly soft, rejuvenated and smelling divine.</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Direction for Use</th>
                            <td>
                                <p>Take a teaspoon portion, massage onto damp skin in a vigorous circular motion,
                                    concentrationg
                                    on areas you feel necessary. Leave coffee scrub on for 5-10 minutes then rise off.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Cautions</th>
                            <td>
                                <p>Before using for the first time, do a patch test. If Coffee Scrub gets into your
                                    eyes,rines
                                    thoroughly with water. In the unlikley case of irritation, discontinue use.</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Ingredients</th>
                            <td>
                                <p>Coffee bean, Himalayan pink rock salt, Brown sugar, Organic cacao, Cold press coconut
                                    oil, Sweet almond oil, Jojoba oil, Orange oil.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="footer grey darken-4">
    <div class="container">
        <span class="text-muted"><div class="footer-copyright text-center py-3">
                <div class="container-fluid">
                    © 2017 Copyright: PureBodyCoffeeScrub
                </div>
            </div></span>

    </div>

</footer>