<br>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2">
          <img src="assets/img/pck.png" alt="">
        </div>
        <div class="" style="margin-top:15px">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product Price</h6>
              </div>
              <span class="text-muted" style="color:red!important">$19.99</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Includes FREE Shipping!</h6>
                  </div>
              <span class="text-muted" style="color:crimson !important"></span>
            </li>
            
          </ul>
          <div class="box-container">
              
              <form class="mt-3" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="8VAXTJVNYDYPQ">
                  <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                  </form>
                  <img id="paypal" src="assets/img/paypal.png" height="40" width="40" alt=""> 
              </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">Product Details</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">Product Name</th>
              <td>Pure Body Coffee Scrub</td>
            </tr>
            <tr>
              <th scope="row">Product Description</th>
              <td><strong>What you get</strong>

                  <p>200 grams Body scrub, Coffee bean, Himalayan pink rock salt, Brown sugar, Organic cacao, Cold press coconut oil, Sweet almond oil, Jojoba oil, Orange oil.</p>
                  
                  <p>Body Scrub is highly hydrating and great for assisting with skin conditions such</p>
                  <ul>
                  <li>Dry Skin</li>
                  <li>Cellulite</li>
                  <li>Stretch marks</li>
                  <li>Scarring</li>
                  <li>Acne</li>
                  <li>Psoriasis</li>
                  <li>Eczema</li>
                  <li>Shrinking wrinkles</li>
                  <li>Protect against sun damage</li>
                </ul>
                  <strong>No added preservatives or artificial ingredients.</strong>
                  
                  <p>combined with amazing natural ingredients and scents of coconut, orange, and cacao to leave your skin feeling incredibly soft, rejuvenated and smelling divine.</p></td>
            </tr>
            <tr>
              <th scope="row">Product Category</th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">No. of quantity available</th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Product Added on</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
