<app-hero></app-hero>
<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h2 style="margin-top:50px;">Pure Body Coffee Scrub 200g</h2>
                <p style="margin-top:30px;">Pure Body Coffee Scrub is a 100% natural blend that actively targets dry skin, cellulite, stretch marks, psoriasis, acne and eczema. Our pure combination of roasted ground coffee beans, sugars & salts assist in exfoliating and regenerating
                    healthy new skin cells. The essential rejuvenation oils are highly moisturizing giving you smooth supple skin.</p>
                <span>AUD $19.99</span><br>
                <div class="box-container">
                    <form class="mt-3" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="CWPPDWD2BA2E4">
                        <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                    </form>


                </div>

            </div>
            <div class="col-md-4">
                <img src="assets/img/pck.png" width="300" alt="">
            </div>
        </div>
    </div>

</main>

<section>
    <div class="container">
        <div class="bath3">
            <img src="assets/img/3bath.jpg" alt="">
            <p>Scrub away, exfoliate, regenerate, moisturize, tone your skin and NO preservatives 100% natural.</p>
        </div>
    </div>
</section>

<section id="sect-3">
    <div class="container">
        <h3 style="text-align:center;">Pure Body Coffee Scrub</h3>
        <div class="row">
            <div id="2pcks" class="col-md-6 col-sm-12"><img src="assets/img/2pcks.png" height="500" alt=""></div>
            <div class="col-md-6 col-sm-12">

                <p style="margin-top:120px; margin-left:70px;">Pure Body Coffee Scrub is a 100% natural blend used as an exfoliating scrub rich in coffee, coconut oil, sweet almond oil, jojoba oil, orange oil, pink rock salt, cacao and brown sugar has many health benefits to your skin such as: The
                    caffeine found in our scrub increases blood flow, and may reduce the appearance of cellulite and give your skin a more even tone.</p>

                <br>
                <button class="btn btn-brown mb-5" waves-light mdbWavesEffect routerLink="/shop">Read More</button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>