/* #back-img{

  background: url('/assets/img/background.jpg')no-repeat center center;
  background-size: cover;
  display: block;
  height: 100vh;
  margin-top: 200px;
  width: 100%;
} */

main{
  margin-top: 100px;
  margin-bottom: -200px;
}
.bath3{
   display: block;
   margin: 250px auto;
   
 }

 #pcks{
   display:block;
   margin: 0 auto;
 }

.btn{
  display:block;
  margin: 0 auto;
}
